.card > a {
    color: black;
}

.card-body > h5 {
    margin-top: 12px;
}

.card-body > p {
    color: gray;
}

.blog-cards {
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;
    justify-content: space-between;*/
}

#form-container {
    width: 100%;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

a {
    cursor: pointer;
}

.camoflauge {
    color: rgb(4,11,20) !important;
}

.skill-cards {
    /*padding: 0 15px;*/
    padding: 0;
    margin: 0;
}

.blog-img, .project-img {
    display: block;
}

.challenge-row {
    /*margin-bottom: 30px;*/
}

#blog-logo {
    height: 300px;
}

.challenge {
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    margin: 0 15px;
    /*height: 300px;*/
    cursor: pointer;
}

.project-card {
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    color: gray;
}

.modal {
    margin-left: 150px;
}

.fa-arrow-circle-up {
    margin-top: 2px;
}

.project-technologies {
    margin-bottom: 15px;
}

.project-modal {
    display: flex;
    align-items: center;
}

@media (max-width: 1370px) {
    .blog-cards {
        flex-direction: column;
        align-items: center;
        /*flex-wrap: wrap;*/
        /*flex-flow: column wrap;*/
    }

    .blog-card {
        width: 348px;
    }

    .card-deck .blog-card {
        margin: 0;
        margin-bottom: 30px;
    }

    .contact {
        /*padding-bottom: 0px;*/
    }

    .challenge-row {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .challenge {
        display: block;
    }

    .project-card, .skill-card {
        background-color: white;
    }

    #form-container {
        margin-right: 15px;
        margin-left: 15px;
    }

    .skill-cards {
        width: calc(100vw - 30px);
        margin-left: 15px;
    }

    .skills-row {
        margin-right: 0;
        margin-left: 0;
    }

    .card-deck .card {
        margin-bottom: 30px;
    }

    #fizz-buzz-img {
        /*margin-left: 50px;*/
    }

    .modal {
        margin: 0;
    }
}